@import "src/index";

#hall-of-fame-return-wrapper {
  text-align: center;
  background: $color-primary-tint;
  margin: -20px;
  padding: 5vh 0;
}

.hall-of-fame-section {
  display: grid;
  gap: 2vw;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
}
