@import "src/index";

#hall-of-fame-slides-manager {
  text-align: center;
  background: $color-primary-tint;

  .slick-slide {
    background: url("confetti.jpg") center;
    background-size: cover;
  }

  h1,p {
    color: white;
  }

  img {
    border: 2px solid white;
  }
}
