#home-introduction-para
  font-family: 'Karantina', cursive
  font-size: 3rem
  text-align: center
  color: white

  padding: 30vh 20vw
  margin: 0

  background: url(homeIntroBackground.jpg) no-repeat center fixed
  background-size: cover
