#home-introduction-para
  font-family: 'Karantina', cursive
  font-size: 3rem
  text-align: center
  color: white

  padding: 32vh 20vw
  margin: 0

  background: url(homeIntroBackground.jpg) no-repeat center fixed
  background-size: cover

@media (max-width: 800px)
  #home-introduction-para
    padding: 22vh 10vw
    font-size: 2.5rem