@import "src/index"

.councilHeader
  font-family: 'Zen Dots', cursive
  margin: 0
  padding: 5vh 3vw
  color: $color-primary-shade

#councilReturnWrapper
  text-align: center
  background: $color-primary-tint

.staff-cards-return-wrapper
  display: flex
  justify-content: space-around
  gap: 10px
  flex-wrap: wrap
  padding: 20px
  overflow-x: scroll
  background: $color-primary

.captains-cards-return-wrapper
  display: flex
  padding: 20px
  overflow-x: scroll
  background: $color-primary