@import "src/index"

.councilHeader
  font-family: 'Zen Dots', cursive
  margin: 0
  padding: 5vh 3vw

#councilReturnWrapper
  text-align: center
  background: #ffe7c4
  color: #5f3c03

.cardHandlerReturnWrapper
  display: flex
  padding: 20px
  overflow-x: scroll
  background: #ffeae0