.exploreCardReturnWrapper
  display: flex
  gap: 10vw
  margin: 20vh 0
  text-align: center

.exploreCardReturnWrapper img
  width: 50vw
  border: 2px solid black
  border-radius: 10px

.exploreCardReturnWrapper p
  font-family: Candara, cursive
  font-size: 2em

@media (max-width: 800px)
  .exploreCardReturnWrapper
    flex-direction: column !important
    gap: 3vh

  .exploreCardReturnWrapper img
    width: 90vw
    margin: 0 auto

  .exploreCardReturnWrapper p
    font-size: 1em