.exploreCardReturnWrapper
  display: flex
  gap: 10vw
  margin: 30vh 0

.exploreCardReturnWrapper img
  width: 40vw
  border: 2px solid black
  border-radius: 10px

.exploreCardReturnWrapper p
  font-family: Candara, cursive
  font-size: 2em