@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap')

.slick-initialized // to prevent unnecessary horizontal scroll because of slick-track
  overflow-x: hidden

.slick-track
  display: flex !important // so that it takes height of the longest slide

.slick-slide
  display: flex
  height: inherit !important // to make all slides of same height
  background: #ffe7c4
  margin: 2vh 0
  border-radius: 10px
  text-align: center

#sliderCardReturnWrapper
  padding: 2vh 2vw

#sliderCardHeading
  font-family: 'Zen Dots', cursive
  margin: 3vh
  font-size: 2.5em
  color: #5f3c03

#sliderCardTitle
  font-family: 'Zen Dots', cursive
  margin: 3vh
  font-size: 1.4em

#sliderCardReturnWrapper img
  margin: auto
  height: 40vh
  max-width: 80vw
  border-radius: 10px

#sliderCardReturnWrapper p
  font-family: 'Alegreya SC', serif