#homeIntroductionReturnWrapper
  text-align: center
  color: white

  display: flex
  flex-direction: column
  justify-content: space-around
  padding: 20vh 20vw

  background: url(homeIntroBackground.jpg) no-repeat center fixed
  background-size: cover

#homeIntroductionReturnWrapper p
  font-family: 'Karantina', cursive
  font-size: 3.5rem

@media (max-width: 500px)
  #homeIntroductionReturnWrapper
    padding: 10vh 10vw

  #homeIntroductionReturnWrapper h1
    font-size: 2.5rem

  #homeIntroductionReturnWrapper p
    font-size: 2rem
