#homeIntroductionReturnWrapper
  text-align: center
  color: white

  display: flex
  flex-direction: column
  justify-content: center
  height: 90vh

  background: url(homeIntroBackground.jpg) no-repeat
  background-size: cover

#homeIntroductionReturnWrapper h1, p
  margin: 5vh auto

#homeIntroductionReturnWrapper h1
  font-size: 3em

#homeIntroductionReturnWrapper p
  font-size: 1.5em
  max-width: 40vw
