@import "../../index"

.card
  height: 500px
  border-radius: 10px
  background: $highlightColor
  border: 2px solid black
  display: flex
  flex-direction: column
  transition: .2s
  position: relative
  color: white
  text-align: center
  padding: 2vh 2vw

#cardImage
  margin: 0 auto
  height: 30vh
  border-radius: 10px
  border: 4px solid black

.card h1
  font-family: 'Karantina', cursive
  font-size: 2.5em
  margin-top: 1vh

#cardPositionHeader
  text-decoration: underline
  color: #b06767
  margin: 2vh 0

#cardEmailHeader
  font-size: 1.4em
  text-decoration: underline
  margin-bottom: 0

#cardEmail
  font-size: 1.2em
  font-family: 'Roboto Thin', cursive
  margin: 1vh 0

.card:focus-within ~ .card, .card:hover ~ .card
  transform: translateX(160px)

.card:hover
  transform: translateY(-1rem)
  background: black
  box-shadow: 0 2px 30px 15px whitesmoke

.card:not(:first-child)
  margin-left: -150px
