@import "src/index"

#navbar
  display: flex
  justify-content: space-between
  padding: 2vh 4vw
  border-radius: 10px 10px 0 0
  background: $tertiaryColor

#navbar div
  display: flex
  gap: 30px

#navbar .link
  font-size: 1.4em

.logo
  border-radius: 5px

#navbarButtonWrapper
  display: flex
  gap: 5vw

#navbarButtonWrapper button
  width: 120px
  height: 40px
  margin: auto auto
  background: transparent
  border-radius: 5px
  transition: all ease 0.2s

#navbarButtonWrapper button:hover
  cursor: pointer
  box-shadow: 5px 5px
  background: white

@media (max-width: 500px)
  #navbarButtonWrapper button
    font-size: 0.7em
    width: 100px
    height: 40px