@import "src/index"

#navbarReturnWrapper
  position: relative

#navbar
  display: flex
  justify-content: space-between
  padding: 2vh 4vw
  border-radius: 10px 10px 0 0
  background: $secondaryColor

.logo
  border-radius: 5px

#navbarButtonWrapper
  display: flex
  gap: 2vw
  align-items: center

#navbarButtonWrapper button
  width: 120px
  height: 40px
  margin: auto auto
  background: transparent
  border-radius: 5px
  transition: 0.2s

#navbarButtonWrapper button:hover
  cursor: pointer
  box-shadow: 5px 5px
  background: white

#hamburgerLinks
  display: none

#hamburgerIconWrapper
  display: none

@media screen and (max-width: 800px)
  #navbarButtonWrapper
    display: none

  #hamburgerIconWrapper
    display: block

  #hamburgerLinks
    font-family: Karantina, cursive
    font-size: 1.5em
    display: flex
    flex-direction: column
    gap: 2vh
    background: #ffe2fd
    border-radius: 0 0 10px 10px
    margin: 0
    padding: 10px
    right: 0
    transform: scaleY(0)
    position: absolute
    z-index: 1 // to fix the underlapping from council cards
    transform-origin: top
    transition: .4s

  #hamburgerLinks li
    list-style: none
    padding: 1vh 4vw
    text-align: center
    border-radius: 10px

  #hamburgerLinks a
    text-decoration: none
    color: black
    font-size: 1.5em
