@import "src/index"

#home-footer-return-wrapper
  background: $color-nf
  padding: 20px
  border-top: 4px solid black
  border-radius: 0 0 10px 10px

#home-footer-upper-wrapper
  display: flex
  justify-content: space-between
  padding: 20px
  border-bottom: 4px solid #acacac

#home-footer-extras-wrapper
  display: flex
  justify-content: space-around
  text-align: center

  h1
    text-decoration: underline
    color: $color-primary-shade

  img
    width: 128px

#network-internal-wrapper
  display: flex
  justify-content: center
  gap: 4vw
  align-items: center

  a
    svg
      color: #837D88

#footer-mail-icon path
  fill: gray

#footer-mail-icon:hover path
  fill: #147eba

#footer-call-icon path
  fill: gray

#footer-call-icon:hover path
  fill: #479f47

.home-footer-image-wrapper
  display: flex
  justify-content: center
  width: fit-content
  gap: 30px
  padding: 1vh 1vw
  background: radial-gradient(white, $color-nf)
  align-items: center
  border-radius: 4px

#up-arrow
  width: 32px

#up-arrow:hover
  cursor: pointer

#up-arrow:hover path
  fill: $color-accent

#facebook-icon:hover path
  fill: #4267B2

#instagram-icon:hover path
  fill: #8a3ab9

#twitter-icon:hover path
  fill: #1DA1F2

@media (max-width: 660px)
  #home-footer-extras-wrapper
    flex-direction: column

    img
      width: 64px