@import "src/index"

#home-footer-return-wrapper
  background: #ffe7c4
  padding: 20px
  border-top: 4px solid black
  border-radius: 0 0 10px 10px

#home-footer-upper-wrapper
  display: flex
  justify-content: space-between
  padding: 20px
  border-bottom: 4px solid #acacac

#home-footer-extras-wrapper
  display: flex
  justify-content: space-around
  text-align: center

  h2
    text-decoration: underline
    color: #5f3c03

  a
    color: blue // had to do it explicitly because the color was appearing dull in the first column
    padding: 10px
    font-size: 1rem
    display: inline-block

  a:hover
    color: #ff9700

  img
    width: 128px

#network-internal-wrapper
  display: flex
  justify-content: space-between
  gap: 1vw
  align-items: center

#contacts-internal-wrapper
  display: flex
  justify-content: center
  gap: 1vw

  a
    svg
      color: #837D88

  a:hover
    svg path
      fill: #ff9700

#homeFooterImageWrapper
  display: flex
  gap: 15px

#up-arrow
  width: 32px

#up-arrow:hover
  cursor: pointer

#up-arrow:hover path
  fill: #ff9700

#facebook-icon:hover path
  fill: #4267B2

#instagram-icon:hover path
  fill: #8a3ab9

#twitter-icon:hover path
  fill: #1DA1F2

@media (max-width: 660px)
  #home-footer-extras-wrapper
    flex-direction: column

    img
      width: 64px

  #network-internal-wrapper
    justify-content: space-around