#eventComponentReturnWrapper
  text-align: center
  background: gray
  margin: 20px 0
  padding: 50px

#eventComponentReturnWrapper img
  display: inline-block
  height: auto
  width: 70vw

#eventComponentReturnWrapper p
  font-size: 1.5em
  max-width: 50vw