@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')

#homeSportsReturnWrapper
  background: #ffe7c4
  padding: 5vh 2vw
  text-align: center
  border-radius: 10px 10px 0 0

#homeSportsReturnWrapper h1
  font-size: 1.6em
  font-family: 'Zen Dots', cursive

#announcementsHeader
  color: #5f3c03

.sport-icon
  width: 32px
  height: 32px
  padding: 5px

  border: 2px solid black
  border-radius: 10px
  transition: all ease 0.3s

.sport-icon:hover
  cursor: pointer

.horizontal-sport
  display: flex
  justify-content: center
  min-height: 64px // to prevent this div from jumping during transition, could not find a smarter way.
  gap: 3vw
  margin: 4vh 0

#sportAnnouncements
  width: 70vw
  height: 50vh
  padding: 0 3vw
  margin: 0 auto
  border: 2px solid black
  border-radius: 10px
  overflow-y: scroll

.announcement-wrapper
  background: #8a5506
  color: white
  margin: 2vh 5vw
  padding: 2vh 2vw
  transform: skew(20deg)

.announcement
  font-family: 'Montserrat', sans-serif
  word-spacing: 5px
  transform: skew(-20deg)
  margin: 0
