$emailColor: #754609

.card
  height: 480px
  min-width: 300px
  border: 2px solid black
  border-radius: 10px
  padding: 10px
  position: relative
  background: #ffd294
  transition: .3s

.card aside
  position: absolute
  left: 10px
  bottom: 0
  width: 400px
  transform: rotate(-90deg)
  transform-origin: top left
  font-family: Karantina, cursive
  font-size: 3em
  color: #0f476b
  text-decoration: underline
  letter-spacing: 2px

.card main
  width: 250px
  position: absolute
  right: 10px
  margin: auto

main img
  height: 300px
  width: 200px
  margin: 10px
  border: 4px solid black
  border-radius: 10px

#nameHeader
  font-family: Karantina, cursive
  font-size: 2.5em
  margin: 0
  color: #0f476b

#cardEmailHeader
  margin-top: 30px
  margin-bottom: 0
  text-decoration: underline
  font-family: Karantina, cursive
  font-size: 2em
  color: $emailColor

#cardEmailAnchor
  text-decoration: underline $emailColor

#cardEmail
  margin-top: 0
  font-family: 'Montserrat', sans-serif
  color: $emailColor

.card:focus-within ~ .card, .card:hover ~ .card
  transform: translateX(250px)

.card:hover
  transform: translateY(-10px)
  background: #ffaf47

.card:not(:first-child)
  margin-left: -250px