$primaryColor: white
$secondaryColor: #f6ebff
$complementaryColor: #5a5a9f
$highlightColor: #6cb39c

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&family=Zen+Dots&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap')

@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"